<h2>Home</h2>


<p>
 Wanna see some lizards? Yeah? How many?
  <ul>
    <li><%= link_to '12 Lizards', lizards_path(:number => 12) %></li>
    <li><%= link_to '444 Lizards', lizards_path(:number => 444) %></li>
    <li><%= link_to '9672 Lizards', lizards_path(:number => 9672) %></li>
  </ul>
</p>
<p>
  Do you see any Teletubbies in here? Do you see a slender plastic tag clipped
  to my shirt with my name printed on it? Do you see a little Asian child with
  a blank expression on his face sitting outside on a mechanical helicopter that
  shakes when you put quarters in it? No? Well, that's what you see at a toy
  store. And you must think you're in a toy store, because you're here shopping
  for an infant named Jeb.
</p>
