<header>
  <!-- Just leaving a comment for a commit.
  Turns out I did step 3 during step 1 -->
  <ul>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'About', about_path %></li>
  </ul>
</header>
